If:
  PathMatch: .*\.h
CompileFlags:
  Add: [-std=c99,-xc-header,-Wall,-Werror,-pedantic,-Wvla,-Iinclude,-I../include,-I../../include/]
---
If:
  PathMatch: .*\.c
CompileFlags:
  Add: [-std=c99,-xc-header,-Wall,-Werror,-pedantic,-Wvla,-Iinclude,-I../include,-I../../include/]
